.tituloformulario {

    margin: auto;
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
}

form {
    width: 75%;
    margin: auto;

}

form label {
    display: inline-block;
    width: 100%;

}

form input {
    width: 50%;
}

textarea {
    width: 50%;

}

.botaocontato {
    background-color: rgb(107, 103, 103);
    display: block;
    border-radius: 20px;
    width: 10%;
    color: white;
}

.botaocontato:hover {
    background-color: rgb(156, 150, 150);
    display: block;
    border-radius: 20px;
    width: 10%;
    color: white;
}